{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1>Binaries</h1>
    The easiest way to install LPython is to install the
    <code>lpython</code> Conda
    package from conda-forge.

    See the
    <a href="https://github.com/lcompilers/lpython#installation">installation instructions</a>
    in the Documentation.


{{ $lpython_releases := getJSON "https://api.github.com/repos/lcompilers/lpython/releases" }}
    <h2>Releases</h2>
    Latest release:
    <ul>
        {{ range first 1 ($lpython_releases) }}
        <li>
            <a href="{{ .html_url }}">lpython-{{ .tag_name }}</a>
            ({{ dateFormat "Jan 2, 2006" .published_at }})
        </li>
        {{ end }}
    </ul>
    All releases:
    <a href="#all_releases" class="collapsed" data-toggle="collapse">
        <span class="if-collapsed">show <i class="fas fa-caret-down"></i></span>
        <span class="if-not-collapsed">hide <i class="fas fa-caret-up"></i></span>
    </a>
    <div id="all_releases" class="collapse">
        <ul>
            {{ range ($lpython_releases) }}
            <li>
                <a href="{{ .html_url }}">lpython-{{ .tag_name }}</a>
                ({{ dateFormat "Jan 2, 2006" .published_at }})
            </li>
            {{ end }}
        </ul>
    </div>
      {{ .Content }}
    </div>
  </div>
</div>
{{ end }}
